

<div id="loader">
    <div class='loader'></div>
    </div>
    <!-- Push Nav -->
    <div id="perspective" class="perspective effect-moveleft">
        <div class="cont">
            <div class="wrapper">
    
    <!-- start header -->
    <header>
                <!-- start navigation -->
                <nav class="navbar navbar-default bootsnav navbar-fixed-top nav-white header-light bg-transparent nav-box-width white-link on no-full">
                    <div class="container nav-header-container">
                        <div class="row">
                            <div class="col-md-2 col-xs-5">
                                <a href="#home" title="Logo" class="logo inner-link"><img src="https://git.card2cash.in/uploads/settings/15813109951619.png" class="logo-dark" alt="reone"><img src="https://git.card2cash.in/uploads/settings/15813109951619.png" alt="reone" class="logo-light default"></a>
                            </div>
                            <!-- end logo -->
                            <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right hidden-sm hidden-xs no-padding">
                                <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                                    <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                        <!-- start menu item -->
										<li>
                                        <a href="https://wa.me/?919498393812" target="_blank" class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                        </li>
										<li>
                                            <a href="tel:919498393812" class="twitter-text-hvr"><i class="fa fa-phone" aria-hidden="true"></i></a>         
                                        </li>
										
                    
										
                                        <li class="active">
                                            <a href="#home" class="scroll">Home</a>
                                        </li>
                                        <li>
                                            <a href="#features" class="scroll">What We Do</a>
                                        </li>
                                        <li>
                                            <a href="#about" class="scroll">About</a>
                                        </li>                                      
                                        <li>
                                            <a href="#price" class="scroll">Pricing</a>
                                        </li>            
										<li>
                                            <a href="#WhatWeDo" class="scroll">Why Us</a>
                                        </li>    
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </nav>

            <!-- Push Nav Button -->
                <div id="showMenu" class="showMenuButton-two">
                    <span class="hamburger"></span>
                </div>
                <!-- end navigation -->
            </header>
<!-- end header -->

<section id="home" class="no-padding no-transition">
    <h1 class="display-none" aria-hidden="true">Credit Card to Cash in Chennai</h1>
    <h2 class="display-none" aria-hidden="true">Spot Cash on Credit Card in Chennai</h2>
	<h3 class="display-none" aria-hidden="true">Instant Cash on Credit Card in Chennai</h3>
	<h4 class="display-none" aria-hidden="true">Spot Cash on Card in Chennai</h4>
	<h5 class="display-none" aria-hidden="true">Cash on Credit Card in Chennai</h5>
    <div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="reone-1" data-source="gallery" style="background:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.5 fullscreen mode -->
        <div id="rev_slider_5_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.5">
            <ul>	<!-- SLIDE  -->
                <li data-index="rs-9" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/images/cover1.jpg" alt="cover" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         id="slide-9-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['175','175','119','89']"
                         data-y="['top','top','top','top']" data-voffset="['390','390','466','407']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 5;"><img src="/assets/images/23129-square.png" alt="image" data-ww="" data-hh="" data-no-retina> </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                         id="slide-9-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['1069','1069','1069','1069']"
                         data-y="['top','top','top','top']" data-voffset="['582','582','582','582']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 6;"><img src="/assets/images/23129-square.png" alt="image" data-ww="" data-hh="" data-no-retina> </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                         id="slide-9-layer-4"
                         data-x="['left','left','left','left']" data-hoffset="['1166','1166','1166','1166']"
                         data-y="['top','top','top','top']" data-voffset="['346','346','346','346']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 7;"><img src="/assets/images/20d9e-circle.png" alt="image" data-ww="" data-hh="" data-no-retina> </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-6"
                         id="slide-9-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['37','37','62','44']"
                         data-y="['top','top','top','top']" data-voffset="['194','194','211','116']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 8;"><img src="/assets/images/20d9e-circle.png" alt="image" data-ww="" data-hh="" data-no-retina> </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-6"
                         id="slide-9-layer-6"
                         data-x="['left','left','left','left']" data-hoffset="['48','48','13','7']"
                         data-y="['top','top','top','top']" data-voffset="['577','577','708','595']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 9;"><img src="/assets/images/2f14d-triangle.png" alt="image" data-ww="" data-hh="" data-no-retina> </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-6"
                         id="slide-9-layer-7"
                         data-x="['left','left','left','left']" data-hoffset="['873','873','552','374']"
                         data-y="['top','top','top','top']" data-voffset="['219','219','291','209']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;rZ:180;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 10;"><img src="/assets/images/2f14d-triangle.png" alt="image" data-ww="['42px','42px','42px','42px']" data-hh="['21px','21px','21px','21px']" data-no-retina> </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-9"
                         id="slide-9-layer-8"
                         data-x="['left','left','left','left']" data-hoffset="['890','890','658','422']"
                         data-y="['top','top','top','top']" data-voffset="['534','534','547','594']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 11;"><img src="/assets/images/20d9e-circle.png" alt="image" data-ww="['14px','14px','14px','14px']" data-hh="['14px','14px','14px','14px']" data-no-retina> </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                         id="slide-9-layer-9"
                         data-x="['left','left','left','left']" data-hoffset="['754','754','543','543']"
                         data-y="['top','top','top','top']" data-voffset="['652','652','721','721']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 12;"><img src="/assets/images/23129-square.png" alt="image" data-ww="['17px','17px','17px','17px']" data-hh="['17px','17px','17px','17px']" data-no-retina> </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                         id="slide-9-layer-10"
                         data-x="['left','left','left','left']" data-hoffset="['695','695','445','293']"
                         data-y="['top','top','top','top']" data-voffset="['112','112','87','83']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 13;"><img src="/assets/images/23129-square.png" alt="image" data-ww="['12px','12px','12px','12px']" data-hh="['12px','12px','12px','12px']" data-no-retina> </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-9-layer-11"
                         data-x="['center','center','center','center']" data-hoffset="['0','-1','0','-1']"
                         data-y="['top','top','middle','middle']" data-voffset="['322','278','-60','-52']"
                         data-fontsize="['75','75','60','45']"
                         data-lineheight="['75','75','60','45']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 14; white-space: nowrap; font-size: 75px; line-height: 75px; font-weight: 300; color: #4f4f4f; letter-spacing: 0px;font-family:Raleway;"><span class="font-weight-300 text-red">#Chennai </span><div class="display-inline-block" id="js-rotating">Credit Card To Cash,Spot Cash on Credit Card, Instant cash On Credit Card, Card to Cash, Credit card to spot Cash</div></div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-9-layer-12"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-1','0','0','0']"
                         data-fontsize="['35','35','30','25']"
                         data-lineheight="['35','35','30','25']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 15; white-space: nowrap; font-size: 35px; line-height: 35px; font-weight: 500; color: #4f4f4f; letter-spacing: 0px;font-family:Raleway;">Low Charge<span class="text-blue">&</span> Instant Transfer </div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-9-layer-13"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','middle','middle']" data-voffset="['490','460','67','64']"
                         data-width="none"
                         data-height="none"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 16;font-family:Open Sans;"><a href="#." class="btn btn-rounded btn-blue btn-hvr-red btn-large">Learn More</a></div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
    </div><!-- END REVOLUTION SLIDER -->
</section>

<!-- start features -->
<section id="features" class="bg-very-light-gray padding-60px-tb">

    <div class="container "  >

        <!-- about slider-->
        <div class="row ">
            <div class="col-md-6 hidden-sm hidden-xs " aria-hidden="true">
                <div class="feature-bg-img"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="feature-quote xs-margin-50px-bottom sm-text-center ">
                    <h4 class="area-title alt-font text-dark-gray  xs-margin-5px-top sm-margin-10px-top  font-weight-300 sm-width-100 xs-width-100">
                        We <span class="text-red font-weight-500">Encash</span> Your Credit Card Limit &amp; we credit your bank account <span class="text-blue font-weight-500">instantly</span> at 1.95%</h4>
                    <p >Do you have credit limit and want to encash the limit to cash at very low cost of 1.95% in Chennai?
                    </p>
                    <p class="xs-margin-5px-top sm-margin-10px-top">Credit Card to Cash in Chennai at 1.95% Helps you to do at your location</p>
                    <a href="#." class="btn btn-blue btn-rounded btn-large sm-margin-10px-top xs-margin-5px-top">+91-9498 3938 12</a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end features -->

<section id="how-its-work" class="padding-10px-tb">
    <div class="container" >
        <!-- How Its Work -->
        <div class="row">
            <div class="col-lg-9 col-md-10 col-sm-12 text-center center-col">
                <div class="area-heading text-center margin-10px-bottom">
                    <h5 class="area-title text-capitalize alt-font text-extra-dark-gray margin-10px-bottom font-weight-500 sm-width-100 xs-width-100">
                        How Its Work</h5>
                </div>
            </div>
            <!-- how list -->
            <ul class="process-wrapp">
                <li class="md-margin-10px-top sm-margin-5px-top">
                    <span class="pro-step margin-10px-bottom"><i class="fa fa-search"></i></span>
                    <div class="text-medium text-extra-dark-gray margin-10px-bottom">Contact Us</div>
                    <p>Call or whatsapp to 9498 3938 12 in Chennai</p>
                </li>
                <li class="md-margin-10px-top sm-margin-5px-top">
                    <span class="pro-step margin-10px-bottom"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <div class="text-medium text-extra-dark-gray margin-10px-bottom">Complete KYC</div>
                    <p>Complete KYC to perform Credit card to cash</p>
                </li>
                <li class="md-margin-10px-top sm-margin-5px-top">
                    <span class="pro-step margin-10px-bottom"><i class="fa fa-hand-o-up" aria-hidden="true"></i></span>
                    <div class="text-medium text-extra-dark-gray margin-10px-bottom">Do Tranasction</div>
                    <p>Do the Card Transaction Online/Offline and share details</p>
                </li>
                <li class="md-margin-10px-top sm-margin-5px-top">
                    <span class="pro-step margin-10px-bottom"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <div class="text-medium text-extra-dark-gray margin-10px-bottom">Receive Cash</div>
                    <p>Get Funds Transferred to your Bank Account Instantly at 1.95% Charge in Chennai</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- start parallax -->
<section class="no-padding particles-version no-transition">
    <!-- particles.js container -->
    <div id="particles-js">
                <div class="col-xs-12 text-center center-col">
                    <p class="text-white margin-10px-bottom">Credit Card to Cash in Chennai at 1.95%</p>
                    <h4 class="text-capitalize alt-font text-white margin-10px-bottom font-weight-300 sm-width-100 xs-width-100">
                      Spot Cash on Credit card at 1.95%</h4>
                    <a href="tel:+919498393812" class="btn btn-rounded btn-white btn-hvr-red btn-large">Call Now</a>
                </div>
    </div>
</section>
<!-- end parallax -->

<!-- team about -->
<section id="about" class="xs-text-center padding-10px-tb">
    <div class="container">
        <div class="row margin-10px-bottom sm-margin-5px-bottom xs-margin-5px-bottom">
            <div class="about-team">
                <div class="col-sm-6">
                    <div class="team-quote xs-margin-5px-bottom sm-margin-10px-bottom">
                        <h4 class="area-title alt-font text-dark-gray margin-10px-bottom font-weight-300 sm-width-100 xs-width-100">
                            Instant <span class="text-red font-weight-500">1.95%</span> for Credit Card to cash in <span
                                class="text-blue font-weight-500">Chennai</span></h4>
                        <p class="xs-margin-lr-auto">West is a design studio founded in London. Nowadays, we've grown
                            and expanded our services, and have become a multinational firm, offering a variety of
                            services and solutions Worldwide.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="c-progress text-left xs-margin-10px-left no-transition">
                        <div class="row custom-progress width-100 margin-5px-bottom">
                            <div class="col-xs-2 p-text">
                               1.95%
                            </div>
                            <div class="col-xs-10 no-padding-right">
                                <p class="text-extra-dark-gray text-medium margin-5px-bottom alt-font">All Domestic Personnal Master & Visa Credit Card</p>
                                
                            </div>
                        </div>
                       <div class="row custom-progress width-100 margin-5px-bottom">
                            <div class="col-xs-2 p-text">
                               1.95%
                            </div>
                            <div class="col-xs-10 no-padding-right">
                                <p class="text-extra-dark-gray text-medium margin-5px-bottom alt-font">Some Business & Corporate Credit Card</p>                                
                            </div>
                        </div>                       
                        <div class="row custom-progress width-100 margin-5px-bottom">
                           <div class="col-xs-2 p-text">
                               4.00%
                            </div>
                            <div class="col-xs-10 no-padding-right">
                                <p class="text-extra-dark-gray text-medium margin-5px-bottom alt-font">Some Business & Corporate Credit Card</p>                                
                            </div>
                        </div>
						<div class="row custom-progress width-100 margin-5px-bottom">
                           <div class="col-xs-2 p-text">
                               4.00%
                            </div>
                            <div class="col-xs-10 no-padding-right">
                                <p class="text-extra-dark-gray text-medium margin-5px-bottom alt-font">All American Express Credit Card</p>                                
                            </div>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-box sm-margin-10px-bottom xs-margin-5px-bottom ">
                    <div class="team-image">
                        <img src="/assets/images/team-one.jpg" alt="image">
                    </div>
                   <div class="team-three-tag">
                       <div class="team-three-text display-inline float-left text-left">
                       <h6 class="text-extra-dark-gray no-margin-bottom">Visa Master <span class="text-red">Credit Card</span></h6>
                       <p class="no-margin-bottom">1.95%</p>
                       </div>
                       <div class="team-three-social bg-red" aria-hidden="true">
                           <a href="#." class="facebook-text-hvr"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                           <a href="#." class="twitter-text-hvr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                           <a href="#." class="linkedin-text-hvr"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                       </div>
                   </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-box sm-margin-10px-bottom xs-margin-5px-bottom">
                    <div class="team-image">
                        <img src="/assets/images/team-two.jpg" alt="image">
                    </div>
                    <div class="team-three-tag">
                        <div class="team-three-text display-inline float-left text-left">
                            <h6 class="text-extra-dark-gray no-margin-bottom">American Express <span class="text-blue">Credit Card</span></h6>
                            <p class="no-margin-bottom">4%</p>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="team-box sm-no-margin-bottom xs-no-margin-bottom">
                    <div class="team-image">
                        <img src="/assets/images/DinnerClubCard.jpg" alt="image">
                    </div>
                    <div class="team-three-tag">
                        <div class="team-three-text display-inline float-left text-left">
                            <h6 class="text-extra-dark-gray no-margin-bottom">Dinner Club <span class="text-red">Credit Card</span></h6>
                            <p class="no-margin-bottom">1.95%</p>
                        </div>
                        <div class="team-three-social bg-red" aria-hidden="true">
                            <a href="#." class="facebook-text-hvr"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#." class="twitter-text-hvr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#." class="linkedin-text-hvr"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- team end -->

<!-- counters -->
<section class="no-transition padding-10px-tb">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="counter-item text-center sm-margin-10px-bottom">
                    <div class="counter-icon bg-blue margin-10px-bottom">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-extra-dark-gray font-weight-100 no-margin-bottom">800+</h3>
                    <p class="no-margin-bottom font-weight-400 text-medium-gray">Clients</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="counter-item text-center sm-margin-10px-bottom">
                    <div class="counter-icon bg-red margin-10px-bottom">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-extra-dark-gray font-weight-100 no-margin-bottom">2000+</h3>
                    <p class="no-margin-bottom font-weight-400 text-medium-gray">Transactions Every Month</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="counter-item text-center sm-margin-10px-bottom">
                    <div class="counter-icon bg-new-yellow margin-10px-bottom">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-extra-dark-gray font-weight-100 no-margin-bottom">25+</h3>
                    <p class="no-margin-bottom font-weight-400 text-medium-gray">Lakhs Every Day</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="counter-item text-center sm-margin-10px-bottom">
                    <div class="counter-icon bg-lg-blue margin-10px-bottom">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-extra-dark-gray font-weight-100 no-margin-bottom">10+</h3>
                    <p class="no-margin-bottom font-weight-400 text-medium-gray">Crore Every Month</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counters end-->

<!-- price -->
<section id="price" >
    <div class="container ">
        <div class="row">
            <div class="col-lg-9 col-md-10 col-sm-12 text-center center-col">
                <div class="area-heading text-center margin-10px-bottom">
                    <div class="text-medium text-red margin-10px-bottom">The Best Offers</div>
                    <h3 class="area-title text-capitalize alt-font text-blue margin-10px-bottom font-weight-300 sm-width-100 xs-width-100">
                        Pricing Plans For Chennai People</h3>
                    <div class="seperator margin-20px-bottom">
                        <hr class="seperator-two">
                        <hr class="seperator-one">
                    </div>
                    <p class="width-75 margin-lr-auto md-width-90 xs-width-100 xs-margin-10px-bottom">Best in Industry Low Price Credit Card to Cash in Chennai</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="price-item padding-10px-tb text-center margin-lr-auto xs-margin-10px-bottom">
                    <div class="price-inner">
                        <div class="text-small text-red font-weight-400 margin-10px-bottom">Individual Normal Cards</div>
                        <div class="price padding-10px-tb bg-light-gray">
                            <span class="value text-extra-dark-gray">1.95</span>
                            <span class="duration text-extra-dark-gray">%</span>
                            <div class="text-extra-small text-extra-dark-gray width-80 margin-lr-auto margin-10px-top">
                                Flat % Charge for Chennai Normal Credit Card to cash 
                            </div>
                        </div>
                        <div class="price-body padding-10px-tb">
                            <div class="text-small">Visa Credit Card</div>
                            <hr class="margin-10px-tb">
                            <div class="text-small">Master Credit Card</div>
                            <hr class="margin-10px-tb">
                            <div class="text-small">Dinner Club Credit Card</div>
                        </div>
                        <a href="#." class="btn btn-rounded btn-transparent-red btn-large width-100">Get Started Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="price-item padding-10px-tb text-center margin-lr-auto xs-margin-10px-bottom">
                    <div class="price-inner">
                        <div class="text-small text-blue font-weight-400 margin-10px-bottom">Corporate, Business & Commercial Cards</div>
                         <div class="price padding-10px-tb bg-light-gray">
                            <span class="value text-extra-dark-gray">1.95</span>
                            <span class="duration text-extra-dark-gray">%</span>
                            <div class="text-extra-small text-extra-dark-gray width-80 margin-lr-auto margin-10px-top">
                                Flat % Charge for Chennai Normal Credit Card to cash 
                            </div>
                        </div>
                        <div class="price-body padding-10px-tb">
                             <div class="text-small">Visa Credit Card</div>
                            <hr class="margin-10px-tb">
                            <div class="text-small">Master Credit Card</div>
                            <hr class="margin-10px-tb">
                            <div class="text-small">Dinner Club Credit Card</div>
                        </div>
                        <a href="#." class="btn btn-rounded btn-transparent-blue btn-large width-100">Get Started Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="price-item padding-10px-tb text-center margin-lr-auto xs-margin-10px-bottom">
                    <div class="price-inner">
                        <div class="text-small text-red font-weight-400 margin-10px-bottom">American Express Cards</div>
                        <div class="price padding-10px-tb bg-light-gray">
                            <span class="value text-extra-dark-gray">4</span>
                            <span class="duration text-extra-dark-gray">%</span>
                            <div class="text-extra-small text-extra-dark-gray width-80 margin-lr-auto margin-10px-top">
                                Flat % Charge for Chennai Normal Credit Card to cash 
                            </div>
                        </div>
                        <div class="price-body padding-10px-tb">
                            <div class="text-small">All American Express Cards</div>                           
                        </div>
                        <a href="#." class="btn btn-rounded btn-transparent-red btn-large width-100">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- price end -->

<!-- video parallax -->
<section id="WhatWeDo" class="parallax video-parallax no-transition">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-10 col-sm-12 text-center center-col">
                <div class="text-medium text-dark-gray margin-10px-bottom">Why Us</div>
                <h4 class="area-title alt-font text-dark-gray margin-10px-bottom font-weight-300 sm-width-100 xs-width-100">
                    We do <span class="text-red font-weight-500">Credit Card to Cash </span> in <span
                        class="text-red font-weight-500">Chennai</span></h4>
                        <a data-fancybox href="https://www.youtube.com/watch?v=_NZV6WEe51g"
                        class="btn btn-rounded btn-blue btn-extra-large btn-hvr-red margin-20px-top"><i class="fa fa-play video-social"
                                                                                            aria-hidden="true"></i>Watch Now</a>
            </div>
        </div>
    </div>
</section>
<!-- parallax end -->

<!-- footer -->
<footer class="padding-10px-tb bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="text-small text-white xs-text-center xs-margin-10px-bottom">© 2018 Credit Card to Cash in Chennai
                    <a href="https://card2cash.in" class="text-white">card2cash.in</a></div>
            </div>
            <div class="col-sm-5 no-padding">
                <div class="text-small footer-nav text-white">
                    <a href="#home" class="scroll text-white">Home</a>
                    <span class="verticle-line"></span>
                    <a href="#features" class="scroll text-white">Features</a>
                    <span class="verticle-line"></span>
                    <a href="#about" class="scroll text-white">About</a>
                    <span class="verticle-line"></span>
                    <a href="#price" class="scroll text-white">Pricing</a>
                    <span class="verticle-line"></span>                   
                     <a href="#WhatWeDo" class="scroll text-white">What We Do</a>                    
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer-social text-right xs-text-center xs-margin-10px-top">
                    <a href="https://wa.me/?919498393812" target="_blank" class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    <a href="tel:919498393812" class="twitter-text-hvr"><i class="fa fa-phone" aria-hidden="true"></i></a>                 
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end-->

<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
<!-- end scroll to top  -->


</div>
</div>
    <!-- Push Nav Link -->
    <ul class="navbar outer-nav right vertical alt-font">
		<li><a href="https://wa.me/?919498393812" target="_blank" class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
		<li><a href="tel:919498393812" class="twitter-text-hvr"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
	
        <li><a href="#home" class="scroll icon-home">Home</a></li>
       <li><a href="#features" class="scroll icon-features">Features</a></li>
	   <li><a href="#About" class="scroll icon-about">About</a></li>
        <li><a href="#price" class="scroll icon-pricing">Pricing</a></li>
        <li><a href="#WhatWeDo" class="scroll icon-blog">Why Us</a></li>
    </ul>
</div>

   
